## ESTUDO DIRIGIDO

## Manipulação de Dados com Pandas

#### **NOME: PEDRO MILREU CUNHA**
#### **MATRÍCULA: 20201003111**

### Instruções

Tirar uma cópia desse NoteBook e preencher o cabeçalho com seus dados (Nome, Matrícula).

Efetue cada uma das etapas abaixo na sequência. Explique cada passo e os resultados alcançados no Python Notebook.

Fonte de dados: 

- IBGE - https://www.ibge.gov.br/estatisticas/downloads-estatisticas.html
- IPEADATA - http://www.ipeadata.gov.br/Default.aspx

```
# Montar diretório compartilhado.
from google.colab import drive
drive.mount('/content/drive/', force_remount=True)
```

**Calculando taxas de crescimento econômico para os municípios brasileiros**.  

### ---- **Resolução** ----

In [1]:
# Montar diretório compartilhado.
from google.colab import drive
drive._mount('/content/drive/')

Mounted at /content/drive/

 1. Leia o arquivo de dados `PIBMunicipios2010-2017.xls` no diretório `content/drive/Shared drives/DS-PY`.

In [2]:
import pandas as pd 
pd.set_option('display.max_rows', 20)
pd.set_option('display.max_columns', 10)
pd.set_option('display.width', 1000)

dados_PIB_municipal = pd.read_excel("/content/drive/Shared drives/DS-PY/PIBMunicipios2010-2017.xls")

Inicialmente importamos a biblioteca `pandas` (com o apelido `pd`) e configuramos as opções de display para mostrar mais linhas e colunas. 
Em seguida, lemos o arquivo de dados utilizando a função `read_excel` da biblioteca `pandas`.

2. Crie um novo data frame com as colunas/variáveis: `Ano, Nome da Grande Região, Código do Município, Nome do Município, Produto Interno Bruto, \na preços correntes \n(R$ 1.000)`.

In [3]:
novo_pib_municipal = dados_PIB_municipal[["Ano", "Nome da Grande Região", "Código do Município",
                                       "Nome do Município",
                                       "Produto Interno Bruto, \na preços correntes\n(R$ 1.000)"]].copy()
novo_pib_municipal

        Ano Nome da Grande Região  Código do Município      Nome do Município  Produto Interno Bruto, \na preços correntes\n(R$ 1.000)
0      2010                 Norte              1100015  Alta Floresta D'Oeste                                       2.620769e+05
1      2010                 Norte              1100023              Ariquemes                                       1.364694e+06
2      2010                 Norte              1100031                 Cabixi                                       6.961111e+04
3      2010                 Norte              1100049                 Cacoal                                       1.186494e+06
4      2010                 Norte              1100056             Cerejeiras                                       2.220212e+05
...     ...                   ...                  ...                    ...                                                ...
44540  2017          Centro-oeste              5222005             Vianópolis                                       3.957868e+05
44541  2017          Centro-oeste              5222054         Vicentinópolis                                       3.507654e+05
44542  2017          Centro-oeste              5222203               Vila Boa                                       1.375003e+05
44543  2017          Centro-oeste              5222302          Vila Propício                                       1.821745e+05
44544  2017          Centro-oeste              5300108               Brasília                                       2.446828e+08

[44545 rows x 5 columns]

Aqui fazemos uma cópia de um subset dos dados originais, acessando as colunas desejadas à partir do indexador `[]`.

3. Renomear as variáveis para `ano, nome_regiao, cod_mun, nome_mun, pib`, respectivamente. Guarde esse data frame na memória.

In [4]:
novo_pib_municipal.rename(columns = {"Produto Interno Bruto, \na preços correntes\n(R$ 1.000)":"pib",
                        "Ano":"ano",
                        "Nome do município":"nome_mun",
                        "Nome da Grande Região":"nome_regiao",
                        "Código do Município":"cod_mun"}, inplace = True)

novo_pib_municipal

        ano   nome_regiao  cod_mun      Nome do Município           pib
0      2010         Norte  1100015  Alta Floresta D'Oeste  2.620769e+05
1      2010         Norte  1100023              Ariquemes  1.364694e+06
2      2010         Norte  1100031                 Cabixi  6.961111e+04
3      2010         Norte  1100049                 Cacoal  1.186494e+06
4      2010         Norte  1100056             Cerejeiras  2.220212e+05
...     ...           ...      ...                    ...           ...
44540  2017  Centro-oeste  5222005             Vianópolis  3.957868e+05
44541  2017  Centro-oeste  5222054         Vicentinópolis  3.507654e+05
44542  2017  Centro-oeste  5222203               Vila Boa  1.375003e+05
44543  2017  Centro-oeste  5222302          Vila Propício  1.821745e+05
44544  2017  Centro-oeste  5300108               Brasília  2.446828e+08

[44545 rows x 5 columns]

Para renomear as colunas diretamente no `DataFrame`, utilizamos o método `rename()` com o parâmetro `inplace = True`

4. Leia o arquivo de dados `IPCA_indice_mensal.csv` em um novo data frame. Observe o separador de texto ";", separador decimal, controle para o cabeçalho e se há necessidade de pular linhas.

In [5]:
dados_IPCA_mensal = pd.read_csv("/content/drive/Shareddrives/DS-PY/IPCA_indice_mensal.csv", sep = ";",
header = 0, usecols=lambda nome_coluna: not nome_coluna.startswith('Unnamed:'),
dtype = {"Data" : "string"}, decimal = ",")

dados_IPCA_mensal.head(5)

      Data  Preços - IPCA - geral - índice (dez. 1993 = 100) - - - Instituto Brasileiro de Geografia e Estatística, Sistema Nacional de Índices de Preços ao Consumidor (IBGE/SNIPC) - PRECOS12_IPCA12
0  1979.12                                       7.618300e-09
1  1980.01                                       8.122300e-09
2  1980.02                                       8.497300e-09
3  1980.03                                       9.010400e-09
4  1980.04                                       9.486700e-09

Para ler os dados do IPCA utilizamos a função `read_csv`, lembrando de configurar o parâmetro do separador para `sep = ";"` e `header = 0` para informar que o cabeçalho se encontra na primeira linha dos dados.

Fazemos uso de uma função anônima no parâmetro `usecols` para remover colunas "fantasma" que aparecem na leitura devido à problemas de indexação e, por fim, informamos o tipo de variável esperado na coluna de data `dtype = {"Data" : "string"}` e o separador de decimal `decimal = ","`.

5. Remova colunas vazias e renomei as colunas para: periodo, indice.

In [6]:
dados_IPCA_mensal.dropna(inplace = True)
dados_IPCA_mensal.columns = ["periodo", "indice"]

dados_IPCA_mensal.head(5)
print(dados_IPCA_mensal.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 492 entries, 0 to 491
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   periodo  492 non-null    string
 1   indice   492 non-null    float64
dtypes: float64(1), string(1)
memory usage: 11.5 KB
None

Utilizamos o método `dropna()` com o parâmetro `inplace = True` para remover dados faltantes do `DataFrame` e, em seguida, alteramos os nomes das colunas dele através do atributo `columns`.

6. Transforme a tipagem da variável periodo para datatime.

In [7]:
dados_IPCA_mensal["periodo"] = dados_IPCA_mensal["periodo"].str.replace(".", "/") # A conversão com "."
# como separador não funciona muito bem.

dados_IPCA_mensal["periodo"] = pd.to_datetime(dados_IPCA_mensal["periodo"], format = "%Y/%m")

print(dados_IPCA_mensal.info())
print(dados_IPCA_mensal)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 492 entries, 0 to 491
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   periodo  492 non-null    datetime64[ns]
 1   indice   492 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 11.5 KB
None
       periodo        indice
0   1979-12-01  7.618300e-09
1   1980-01-01  8.122300e-09
2   1980-02-01  8.497300e-09
3   1980-03-01  9.010400e-09
4   1980-04-01  9.486700e-09
..         ...           ...
487 2020-07-01  5.344630e+03
488 2020-08-01  5.357460e+03
489 2020-09-01  5.391750e+03
490 2020-10-01  5.438120e+03
491 2020-11-01  5.486520e+03

[492 rows x 2 columns]

Primeiramente substituímos todos os "." nas datas com "/" através do método `str.replace()`, facilitando a leitura correta dos dados. Em seguida, utilizamos o método `to_datetime()` e informamos o formato `%Y/%m` para realizar a conversão da variável.

7. Crie um novo data frame com o valor do índice acumulado por ano.

In [8]:
ipca_acumulado_anual = pd.DataFrame(data = {'ano': pd.DatetimeIndex(dados_IPCA_mensal["periodo"]).year,
        'indice_anual': dados_IPCA_mensal["indice"]}).groupby("ano").sum()

print(ipca_acumulado_anual, ipca_acumulado_anual.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42 entries, 1979 to 2020
Data columns (total 1 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   indice_anual  42 non-null     float64
dtypes: float64(1)
memory usage: 672.0 bytes
      indice_anual
ano
1979  7.618300e-09
1980  1.335016e-07
1981  2.693062e-07
1982  5.400757e-07
1983  1.269327e-06
...            ...
2016  5.624144e+04
2017  5.817973e+04
2018  6.031193e+04
2019  6.256336e+04
2020  5.901216e+04

[42 rows x 1 columns] None

Utilizamos o método `DatetimeIndex` seguido do atributo `year` para obter o ano de cada observação. Em seguida, utilizando os métodos `groupby()` e `sum()` conseguimos os valores desejados.

8. Transformar a coluna periodo para ano (4 dígitos). Dica: Usar `pd.DatetimeIndex`.

In [9]:
dados_IPCA_mensal["periodo"] = pd.DatetimeIndex(dados_IPCA_mensal["periodo"]).year

print(dados_IPCA_mensal)

     periodo        indice
0       1979  7.618300e-09
1       1980  8.122300e-09
2       1980  8.497300e-09
3       1980  9.010400e-09
4       1980  9.486700e-09
..       ...           ...
487     2020  5.344630e+03
488     2020  5.357460e+03
489     2020  5.391750e+03
490     2020  5.438120e+03
491     2020  5.486520e+03

[492 rows x 2 columns]

Utilizamos o método `DatetimeIndex` seguido do atributo `year` para converter a coluna período para o formato `yyyy`.

9. Altere a base da série de índice acumulado para 2017 = 100.

In [10]:
nova_base = float(ipca_acumulado_anual.query("ano == 2017")["indice_anual"])

ipca_acumulado_anual["indice_base_2017"] = 100*ipca_acumulado_anual["indice_anual"]/nova_base

print(ipca_acumulado_anual)

      indice_anual  indice_base_2017
ano
1979  7.618300e-09      1.309442e-11
1980  1.335016e-07      2.294641e-10
1981  2.693062e-07      4.628866e-10
1982  5.400757e-07      9.282884e-10
1983  1.269327e-06      2.181735e-09
...            ...               ...
2016  5.624144e+04      9.666844e+01
2017  5.817973e+04      1.000000e+02
2018  6.031193e+04      1.036649e+02
2019  6.256336e+04      1.075346e+02
2020  5.901216e+04      1.014308e+02

[42 rows x 2 columns]

Inicialmente aplicamos o método `query()` para obter a nova base do IPCA e, em seguida, utilizamos esse valor para gerar o índice com base em 2017 (2017 = 100).

10. Crie uma nova coluna com o fator de correção monetária para preços de 2017 (inverso do índice).

In [11]:
ipca_acumulado_anual["fator_correcao_2017"] = 1/ipca_acumulado_anual["indice_base_2017"]

print(ipca_acumulado_anual)

      indice_anual  indice_base_2017  fator_correcao_2017
ano
1979  7.618300e-09      1.309442e-11         7.636839e+10
1980  1.335016e-07      2.294641e-10         4.357980e+09
1981  2.693062e-07      4.628866e-10         2.160356e+09
1982  5.400757e-07      9.282884e-10         1.077251e+09
1983  1.269327e-06      2.181735e-09         4.583509e+08
...            ...               ...                  ...
2016  5.624144e+04      9.666844e+01         1.034464e-02
2017  5.817973e+04      1.000000e+02         1.000000e-02
2018  6.031193e+04      1.036649e+02         9.646471e-03
2019  6.256336e+04      1.075346e+02         9.299330e-03
2020  5.901216e+04      1.014308e+02         9.858939e-03

[42 rows x 3 columns]

Para gerar o fator de correção, basta criar um nova coluna que é igual ao inverso do índice obtido no item anterior (`1/ipca_acumulado_anual["indice_base_2017"]`).

11. Faça a junção correta do data frame tratado dos dados de PIB por município e o data frame do índice acumulado do IPCA, de modo que a tabela de dados do PIB herde o índice do IPCA. Observe os nomes das variáveis-chave (ligação) e tipagem das mesmas. Faça ajustes se necessário antes dessa junção.

In [12]:
pib_e_ipca_anual = novo_pib_municipal.join(ipca_acumulado_anual,
                                           on = "ano", how = "right")

print(pib_e_ipca_anual)

          ano   nome_regiao    cod_mun Nome do Município           pib  indice_anual  indice_base_2017  fator_correcao_2017
NaN      1979           NaN        NaN               NaN           NaN  7.618300e-09      1.309442e-11         7.636839e+10
NaN      1980           NaN        NaN               NaN           NaN  1.335016e-07      2.294641e-10         4.357980e+09
NaN      1981           NaN        NaN               NaN           NaN  2.693062e-07      4.628866e-10         2.160356e+09
NaN      1982           NaN        NaN               NaN           NaN  5.400757e-07      9.282884e-10         1.077251e+09
NaN      1983           NaN        NaN               NaN           NaN  1.269327e-06      2.181735e-09         4.583509e+08
...       ...           ...        ...               ...           ...           ...               ...                  ...
44543.0  2017  Centro-oeste  5222302.0     Vila Propício  1.821745e+05  5.817973e+04      1.000000e+02         1.000000e-02
44544.0  2017  Centro-oeste  5300108.0          Brasília  2.446828e+08  5.817973e+04      1.000000e+02         1.000000e-02
NaN      2018           NaN        NaN               NaN           NaN  6.031193e+04      1.036649e+02         9.646471e-03
NaN      2019           NaN        NaN               NaN           NaN  6.256336e+04      1.075346e+02         9.299330e-03
NaN      2020           NaN        NaN               NaN           NaN  5.901216e+04      1.014308e+02         9.858939e-03

[44579 rows x 8 columns]

Para fazer a junção dos `DataFrames` utilizando o método `join()` com os parâmetros `on = "ano"` e `how = "right"`, ou seja, união na variável "ano" e herdando os dados do `DataFrame` à direita (referente ao IPCA).

12. Calcule o PIB real (preços de 2017) de cada município (coluna `pib_real`) usando o fator de correção e o PIB nominal.

In [13]:
pib_e_ipca_anual["pib_real"] = pib_e_ipca_anual["pib"]*pib_e_ipca_anual["fator_correcao_2017"]

print(pib_e_ipca_anual)

          ano   nome_regiao    cod_mun Nome do Município           pib  indice_anual  indice_base_2017  fator_correcao_2017      pib_real
NaN      1979           NaN        NaN               NaN           NaN  7.618300e-09      1.309442e-11         7.636839e+10           NaN
NaN      1980           NaN        NaN               NaN           NaN  1.335016e-07      2.294641e-10         4.357980e+09           NaN
NaN      1981           NaN        NaN               NaN           NaN  2.693062e-07      4.628866e-10         2.160356e+09           NaN
NaN      1982           NaN        NaN               NaN           NaN  5.400757e-07      9.282884e-10         1.077251e+09           NaN
NaN      1983           NaN        NaN               NaN           NaN  1.269327e-06      2.181735e-09         4.583509e+08           NaN
...       ...           ...        ...               ...           ...           ...               ...                  ...           ...
44543.0  2017  Centro-oeste  5222302.0     Vila Propício  1.821745e+05  5.817973e+04      1.000000e+02         1.000000e-02  1.821745e+03
44544.0  2017  Centro-oeste  5300108.0          Brasília  2.446828e+08  5.817973e+04      1.000000e+02         1.000000e-02  2.446828e+06
NaN      2018           NaN        NaN               NaN           NaN  6.031193e+04      1.036649e+02         9.646471e-03           NaN
NaN      2019           NaN        NaN               NaN           NaN  6.256336e+04      1.075346e+02         9.299330e-03           NaN
NaN      2020           NaN        NaN               NaN           NaN  5.901216e+04      1.014308e+02         9.858939e-03           NaN

[44579 rows x 9 columns]

Basta criar uma nova coluna que é igual ao produto do PIB nominal pelo fator de correção monetária (inverso do IPCA).

13. Filtre os dados do último data frame apenas para os anos de 2010 e 2017.

In [14]:
pib_e_ipca_anual_2010_2017 = pib_e_ipca_anual.query("ano > 2009 & ano < 2018").copy()

print(pib_e_ipca_anual_2010_2017)

          ano   nome_regiao    cod_mun      Nome do Município           pib  indice_anual  indice_base_2017  fator_correcao_2017      pib_real
0.0      2010         Norte  1100015.0  Alta Floresta D'Oeste  2.620769e+05      37374.05         64.238954             0.015567  4.079719e+03
1.0      2010         Norte  1100023.0              Ariquemes  1.364694e+06      37374.05         64.238954             0.015567  2.124402e+04
2.0      2010         Norte  1100031.0                 Cabixi  6.961111e+04      37374.05         64.238954             0.015567  1.083628e+03
3.0      2010         Norte  1100049.0                 Cacoal  1.186494e+06      37374.05         64.238954             0.015567  1.847001e+04
4.0      2010         Norte  1100056.0             Cerejeiras  2.220212e+05      37374.05         64.238954             0.015567  3.456177e+03
...       ...           ...        ...                    ...           ...           ...               ...                  ...           ...
44540.0  2017  Centro-oeste  5222005.0             Vianópolis  3.957868e+05      58179.73        100.000000             0.010000  3.957868e+03
44541.0  2017  Centro-oeste  5222054.0         Vicentinópolis  3.507654e+05      58179.73        100.000000             0.010000  3.507654e+03
44542.0  2017  Centro-oeste  5222203.0               Vila Boa  1.375003e+05      58179.73        100.000000             0.010000  1.375003e+03
44543.0  2017  Centro-oeste  5222302.0          Vila Propício  1.821745e+05      58179.73        100.000000             0.010000  1.821745e+03
44544.0  2017  Centro-oeste  5300108.0               Brasília  2.446828e+08      58179.73        100.000000             0.010000  2.446828e+06

[44545 rows x 9 columns]

Novamente utilizamos o método `query()` para selecionar apenas as observações que pertencem aos anos entre `2010-2017` uma vez que apenas esses anos estão disponíveis nos dados referentes aos PIBs municipais.

14. Crie um novo data frame selecionando apenas as colunas: `cod_mun, ano` e `pib_real`. Transforme o data frame do formato long para wide, distribuindo o `pib_real` com a dimensão ano por colunas.

In [15]:
novo_pib_e_ipca_municipal = pib_e_ipca_anual_2010_2017[["cod_mun", "ano", "pib_real"]]

novo_pib_e_ipca_municipal = novo_pib_e_ipca_municipal.pivot(index = "cod_mun", columns = "ano",
                                                            values = "pib_real").reset_index().rename_axis(None, axis=1)

print(novo_pib_e_ipca_municipal)

        cod_mun          2010          2011          2012          2013          2014          2015          2016          2017
0     1100015.0  4.079719e+03  4.094902e+03  4.556964e+03  4.451090e+03  4.633483e+03  4.739064e+03  4.946981e+03  4.988642e+03
1     1100023.0  2.124402e+04  2.411436e+04  2.359496e+04  2.347122e+04  2.356646e+04  2.292252e+04  2.259627e+04  2.296074e+04
2     1100031.0  1.083628e+03  1.127223e+03  1.379244e+03  1.256655e+03  1.391734e+03  1.311203e+03  1.379377e+03  1.388935e+03
3     1100049.0  1.847001e+04  1.837934e+04  1.901157e+04  1.869053e+04  2.036689e+04  2.018549e+04  2.014393e+04  2.127523e+04
4     1100056.0  3.456177e+03  3.797576e+03  4.948960e+03  4.606860e+03  4.812762e+03  4.474003e+03  4.222617e+03  4.485242e+03
...         ...           ...           ...           ...           ...           ...           ...           ...           ...
5565  5222005.0  2.781792e+03  3.257468e+03  3.543763e+03  3.806805e+03  3.714650e+03  3.513498e+03  3.866848e+03  3.957868e+03
5566  5222054.0  2.084395e+03  2.178468e+03  3.108045e+03  3.383022e+03  3.382528e+03  3.625428e+03  3.638729e+03  3.507654e+03
5567  5222203.0  1.115768e+03  1.227745e+03  1.225214e+03  1.346229e+03  1.109661e+03  1.251178e+03  1.435934e+03  1.375003e+03
5568  5222302.0  1.433131e+03  1.646968e+03  1.943778e+03  1.864415e+03  1.698305e+03  2.237757e+03  2.177288e+03  1.821745e+03
5569  5300108.0  2.244341e+06  2.256411e+06  2.272757e+06  2.293935e+06  2.421388e+06  2.425358e+06  2.436576e+06  2.446828e+06

[5570 rows x 9 columns]

Utilizamos inicialmente a indexaçãoo `[]` para selecionar apenas as colunas desejadas. Em seguida, o método `pivot()` converte o `DataFrame` para o formato `wide` com os anos sendo distribuído ao longo das colunas, o código do município ao longo das linhas e o PIB real ao longo de ambas. Após, os métodos `reset_index()` e `rename_axis()` deixam os dados com apenas um nível (sem hierarquia).

15. Renomei as colunas 2010 e 2017 para `PIBreal2010` e `PIBreal2017`, respectivamente.

In [16]:
novo_pib_e_ipca_municipal.rename(columns = {2010: "PIBreal2010", 2017: "PIBreal2017"}, inplace = True)

print(novo_pib_e_ipca_municipal)

        cod_mun   PIBreal2010          2011          2012          2013          2014          2015          2016   PIBreal2017
0     1100015.0  4.079719e+03  4.094902e+03  4.556964e+03  4.451090e+03  4.633483e+03  4.739064e+03  4.946981e+03  4.988642e+03
1     1100023.0  2.124402e+04  2.411436e+04  2.359496e+04  2.347122e+04  2.356646e+04  2.292252e+04  2.259627e+04  2.296074e+04
2     1100031.0  1.083628e+03  1.127223e+03  1.379244e+03  1.256655e+03  1.391734e+03  1.311203e+03  1.379377e+03  1.388935e+03
3     1100049.0  1.847001e+04  1.837934e+04  1.901157e+04  1.869053e+04  2.036689e+04  2.018549e+04  2.014393e+04  2.127523e+04
4     1100056.0  3.456177e+03  3.797576e+03  4.948960e+03  4.606860e+03  4.812762e+03  4.474003e+03  4.222617e+03  4.485242e+03
...         ...           ...           ...           ...           ...           ...           ...           ...           ...
5565  5222005.0  2.781792e+03  3.257468e+03  3.543763e+03  3.806805e+03  3.714650e+03  3.513498e+03  3.866848e+03  3.957868e+03
5566  5222054.0  2.084395e+03  2.178468e+03  3.108045e+03  3.383022e+03  3.382528e+03  3.625428e+03  3.638729e+03  3.507654e+03
5567  5222203.0  1.115768e+03  1.227745e+03  1.225214e+03  1.346229e+03  1.109661e+03  1.251178e+03  1.435934e+03  1.375003e+03
5568  5222302.0  1.433131e+03  1.646968e+03  1.943778e+03  1.864415e+03  1.698305e+03  2.237757e+03  2.177288e+03  1.821745e+03
5569  5300108.0  2.244341e+06  2.256411e+06  2.272757e+06  2.293935e+06  2.421388e+06  2.425358e+06  2.436576e+06  2.446828e+06

[5570 rows x 9 columns]

Aqui basta utilizar o método `rename()`, que recebe um dicionário com as colunas que serão renomeadas.

16. Calcule a taxa de crescimento do PIB real entre os dois períodos.

In [17]:
novo_pib_e_ipca_municipal["tx_pib_real_2010_2017"] = (novo_pib_e_ipca_municipal["PIBreal2017"] -
                                                      novo_pib_e_ipca_municipal["PIBreal2010"])/novo_pib_e_ipca_municipal["PIBreal2010"]

print(novo_pib_e_ipca_municipal[["cod_mun", "PIBreal2010", "PIBreal2017", "tx_pib_real_2010_2017"]])

        cod_mun   PIBreal2010   PIBreal2017  tx_pib_real_2010_2017
0     1100015.0  4.079719e+03  4.988642e+03               0.222791
1     1100023.0  2.124402e+04  2.296074e+04               0.080809
2     1100031.0  1.083628e+03  1.388935e+03               0.281746
3     1100049.0  1.847001e+04  2.127523e+04               0.151880
4     1100056.0  3.456177e+03  4.485242e+03               0.297747
...         ...           ...           ...                    ...
5565  5222005.0  2.781792e+03  3.957868e+03               0.422776
5566  5222054.0  2.084395e+03  3.507654e+03               0.682816
5567  5222203.0  1.115768e+03  1.375003e+03               0.232338
5568  5222302.0  1.433131e+03  1.821745e+03               0.271164
5569  5300108.0  2.244341e+06  2.446828e+06               0.090221

[5570 rows x 4 columns]

Para calcular a taxa de crescimento do PIB real, utilizamos a seguinte fórmula :
$$ tx\_PIBreal_{2017, 2010} = \frac{PIBreal_{2017} - PIBreal_{2010}}{PIBreal_{2010}}$$

17. Conte o total de dados faltantes (NaN) por coluna.

In [18]:
novo_pib_e_ipca_municipal.isnull().sum()

cod_mun                  0
PIBreal2010              5
2011                     5
2012                     5
2013                     0
2014                     0
2015                     0
2016                     0
PIBreal2017              0
tx_pib_real_2010_2017    5
dtype: int64

O método `isnull()` retorna `True` quando uma observação é ausente. Como `True = 1`, ao aplicarmos o método `sum()` temos em cada variável o total de observações ausentes.

18. Remova todos os dados faltantes.

In [19]:
novo_pib_e_ipca_municipal.dropna(inplace = True)

novo_pib_e_ipca_municipal.isnull().sum()

cod_mun                  0
PIBreal2010              0
2011                     0
2012                     0
2013                     0
2014                     0
2015                     0
2016                     0
PIBreal2017              0
tx_pib_real_2010_2017    0
dtype: int64

Basta aplicar o método `dropna()` com o parâmetro `inplace = True` para que o `DataFrame` original seja modificado.

19. Apresente uma tabela com os 10 municípios que registraram as maiores taxas de crescimento econômico no período analisado. Dica: veja o método .`sort_values`.

In [20]:
print(novo_pib_e_ipca_municipal.sort_values(by = "tx_pib_real_2010_2017", ascending = False).iloc[0:10, [0,1,8,9]])

        cod_mun   PIBreal2010  PIBreal2017  tx_pib_real_2010_2017
293   1508357.0   1443.924927  30880.45376              20.386468
619   2110302.0   1132.899331  16134.52555              13.241800
737   2203271.0    227.514741   3021.91763              12.282294
1170  2408805.0    323.791589   4229.74672              12.063177
3499  3520400.0   5805.697380  61536.09908               9.599261
1092  2401651.0    260.939507   2215.85985               7.491853
3459  3516853.0    993.348459   8398.15056               7.454385
514   2103752.0    857.047641   6204.35146               6.239214
1533  2606200.0  14034.195246  91468.60378               5.517552
4958  4316303.0   1240.326080   7721.69503               5.225536

Utilizamos o método `sort_values()` para ordenar os dados de maneira decrescente (parâmetro `ascending = False`) e em seguido a propriedade `iloc[]` para deixar apenas as 10 primeiras observações e as colunas de interesse.

20. Apresente uma tabela com os 10 municípios que registraram as menores taxas de crescimento econômico (inclusive negativas) no período analisado.

In [21]:
print(novo_pib_e_ipca_municipal.sort_values(by = "tx_pib_real_2010_2017", ascending = True).iloc[0:10, [0,1,8,9]])

        cod_mun    PIBreal2010   PIBreal2017  tx_pib_real_2010_2017
3103  3200409.0   69037.295440    8048.89331              -0.883412
2536  3126307.0    4228.208868     672.37237              -0.840979
2007  2915205.0    5976.946292    1303.38960              -0.781931
3236  3304151.0   59015.941312   14436.93649              -0.755372
1894  2905404.0   21752.468334    6236.56832              -0.713294
397   1715259.0     836.166884     288.74528              -0.654680
4432  4207858.0    1004.499840     349.30922              -0.652256
3191  3301009.0  602195.186207  210887.76671              -0.649802
5284  5107156.0    1098.922610     386.30962              -0.648465
3233  3304110.0   80554.642731   28567.63884              -0.645363

Realizamos o mesmo processo do item anterior, apenas alterando o parâmetro `ascending = True`, ou seja, ordenando de maneira crescente.